@import "../../const.scss";

.card {
  text-align: center;
  position: relative;
  background-color: white;
  height: 9em;
  width: 17em;
  box-shadow: $shadowBox_button;
  border-radius: 8px;
  &__title {
    margin: 1em 0 0.5em 0;
    font-size: 1.3em;
    font-weight: 500;
  }
  &__text {
    font-weight: 300;
  }
  &__date {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }
}
