@import "../../const.scss";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: 0.1em;
  background-color: $clr-secunderyBg;
  color: $clr-Bg;
  vertical-align: middle;

  .nav {
    &__list {
      display: flex;
      list-style-type: none;
      padding: 0.5em;
      &__item {
        margin-right: 0.1em;
        &__button {
          border: none;
          background: none;
          &__link {
            color: $clr-Bg;
            .p {
              font-size: 1rem;
              padding: 0.3em;
            }
          }
        }
        &__button:hover,
        &__button:focus,
        .active {
          background: $clr-primary;
          border-radius: 3px;
          .nav__list__item__button__link {
            color: $clr-secunderyBg;
          }
        }
      }
    }
  }
  .message {
    display: none;
    margin-left: auto;
    padding-top: 0.5em;
  }
}

@include mq(420px) {
  .navbar {
    padding: 0.2em 9%;
    .nav {
      &__list {
        &__item {
          &__button {
            &__link {
              .p {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

@include mq(767px) {
  .navbar {
    .message {
      display: block;
    }
  }
}

@include mq(928px) {
  .navbar {
    padding: 0.5em 18%;
    .nav {
      &__list {
        padding: 0;
      }
    }
  }
}
