@import "../../const.scss";

.item {
  background-color: $clr-primary;
  border-radius: 3px;
  &__td {
    padding: 1em;
    &__dropdown {
      position: relative;
      svg {
        cursor: pointer;
      }
      &__content {
        display: block;
        position: absolute;
        z-index: 1;
        left: 0em;
        top: 2em;
        background-color: white;
        width: 100px;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1),
          0 0 10px 5px rgba(0, 0, 0, 0.15), 0 0 2px 0px rgba(0, 0, 0, 0.2);
        &__button {
          display: block;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .disable {
    display: none;
  }
  .dropDown-disable {
    display: none;
  }
  .disable-button {
    color: gray;
    cursor: default;
    margin: 0;
  }
  @include mq(500px) {
    .disable {
      display: table-cell;
    }
  }
  &__td:last-child {
    text-align: end;
  }
}
