@import "../../const.scss";

.todoPage {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 3em;
  &__sidebar {
    width: 18em;
    padding: 3em 0.5em 0 0;
  }
  &__content {
    width: 42em;
    background-color: $clr-primary;
    border-left: 1px solid #dbdcdd;
    border-right: 1px solid #dbdcdd;
  }
}
