@import "../../const.scss";

.todoPage {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 3em;
  background-color: #f4f6f9;
  &__sidebar {
    width: 18em;
    padding: 0 0.5em;
  }
  &__content {
    width: 42em;
    background-color: white;
    border-left: 1px solid #dbdcdd;
    border-right: 1px solid #dbdcdd;
  }
}
